<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.NameValueSectionHandler" />
      <section name="firefox" type="System.Configuration.NameValueSectionHandler"  />
      <section name="safari" type="System.Configuration.NameValueSectionHandler" />
      <section name="edge" type="System.Configuration.NameValueSectionHandler"  />
      <section name="android" type="System.Configuration.NameValueSectionHandler"  />
      <section name="iphone" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="BaseUrl" value=""/>
    <add key="ReportPath" value =""/>
    <add key="ScreenshotPath" value =""/>
    <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub"/>
    <add key="SauceLabWebDriverHub" value="https://ondemand.saucelabs.com:443/wd/hub"/>
  </appSettings>
  

  <environments>
    <chrome>
      <add key="browser" value="chrome" />
      <add key="platform" value="Windows 10"/>
      <add key="browser_version" value="latest" />
    </chrome>
    <firefox>
      <add key="browser" value="firefox" />
      <add key="platform" value="Windows 10"/>
      <add key="browser_version" value="latest" />
    </firefox>
    <safari>
      <add key="browser" value="safari" />
      <add key="os" value="OS X"/>
      <add key="os_version" value="Mojave"/>
      <add key="name" value="parallel_test" />
      <add key="platform" value="macOS 10.14" />
      <add key="version" value="12.0" />
    </safari>
    <edge>
      <add key="browser" value="edge" />
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="name" value="parallel_test" />
    </edge>
    <android>
      <add key="device" value="Samsung Galaxy S8"/>
      <add key="realMobile" value="true"/>
      <add key="name" value="parallel_test" />
    </android>
    <iphone>
      <add key="device" value="iPhone 7"/>
      <add key="realMobile" value="true"/>
      <add key="name" value="parallel_test" />
    </iphone>
  </environments>
  
  <connectionStrings>
    <add name="" connectionString="" />
  </connectionStrings>

</configuration>